.contacts {
  background-color: #ffffff;
  margin-bottom: 38px;
}

.contacts__content-wrapper {
  @include content-wrapper;
}

.contacts__title {
  color: #283645;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-bottom: 37px;
}

.contacts__item {
  margin-bottom: 24px;
}

.contacts__text {
  color: #283645;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 4px;
}

.contacts__value {
  color: #d22856;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.contacts__value:hover {
  text-decoration: underline;
  color: #283645;
}

.contacts__value:active {
  color: rgba(40, 54, 69, 0.3);
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 35px;
  }

  .contacts__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }


  .contacts__title {
    font-size: 40px;
    margin-bottom: 45px;
  }

  .contacts__item {
    margin-bottom: 0;
  }

  .contacts__item:first-child {
    margin-bottom: 50px;
  }

  .contacts__value.contacts__value--address {
    width: 212px;
  }

  .contacts-text {
    margin-bottom: 7px;
  }

  .contacts__text.contacts__text--first {
    margin-left: 15px;
  }

  .contacts__text.contacts__text--second {
    margin-left: 33px;
  }

  .contacts__value.contacts__value--phone {
    margin-left: 10px;
  }

  .contacts__value.contacts__value--email {
    margin-left: 35px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 0;
  }

  .contacts__item:nth-child(2) {
    order: 1;
  }

  .contacts__item {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
  }

  .contacts__title {
    font-size: 50px;
    margin-bottom: 57px;
  }

  .contacts__text {
    margin-bottom: 27px;
  }

  .contacts__text.contacts__text--first {
    margin-left: 0;
    margin-right: 10px;
  }

  .contacts__text.contacts__text--second {
    margin-left: 9px;
    margin-right: 0;
  }

  .contacts__value.contacts__value--address {
    padding: 0 20px;
  }

  .contacts__value.contacts__value--phone {
    margin-left: 0;
    margin-right: 10px;
  }

  .contacts__value.contacts__value--email {
    margin-left: 12px;
  }
}
