.advantages {
  background-color: #f2f2f2;
}

.advantages__content-wrapper {
  @include content-wrapper;
}

.advantages__content {
  padding-bottom: 300px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.advantages__list {
  list-style: none;
}

.advantages__headline {
  background-color: #ffffff;
  text-align: center;
}

.advantages__text {
  color: #283645;
  font-size: 24px;
  font-weight: 300;
}

.advantages__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.advantages__item {
  margin-bottom: 50px;
}

@media (min-width: $tablet-width) {
  .advantages__content {
    padding-left: 300px;
    padding-bottom: 0;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 480px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__content {
    padding-left: 0;
    background-image: none;
  }

  .advantages__list {
    display: flex;
  }

  .advantages__item {
    padding-top: 300px;
    display: block;
    background-repeat: no-repeat;
  }

  .advantages__item--mood {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
  }

  .advantages__item--world {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
  }

  .advantages__item--friends {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
  }
}
