.author-form__checkbox,
.author-form__radio,
.author-form__textarea,
.author-form__input {
  display: block;
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.author-form__label,
.author-form__title {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.author-form__text {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.author-form__star {
  color: #d22856;
}

.author-form__item--grey {
  background-color: #f2f2f2;
}

.author-form__button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.author-form__content-wrapper {
  @include content-wrapper;
}

@media (min-width: $tablet-width) {
  .author-form__content-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .author-form__item--wide {
    width: auto;
  }

  .author-form__btn {
    display: flex;
    justify-content: space-between;
  }

  .author-form__item:nth-child(1) {
    order: -4;
  }

  .author-form__item:nth-child(2) {
    order: -1;
  }

  .author-form__item:nth-child(3) {
    order: -2;
  }

  .author-form__item:nth-child(4) {
    order: -3;
  }
}

@media (min-width: $desktop-width) {
  .author-form__content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include content-wrapper;
  }

  .author-form__item--wide {
    flex-basis: 940px;
  }

  .author-form__btn {
    display: flex;
    justify-content: space-between;
  }
}
