.author-form {
  margin-bottom: 54px;
}

.author-form__bg-container {
  background-color: #f2f2f2;
  padding-top: 40px;
}

.author-form__bg-container .author-form__title {
  margin-bottom: 35px;
}

.author-form__checkbox,
.author-form__radio,
.author-form__textarea,
.author-form__input {
  display: block;
  color: #283645;
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 30px;
}

.author-form__input::placeholder,
.author-form__textarea::placeholder {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.author-form__label,
.author-form__title,
.author-form__title-hidden {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.author-form__title,
.author-form__title-hidden {
  text-align: center;
  line-height: 18px;
  padding: 0 20px;
  margin: 0;
}

.author-form__text {
  color: #283645;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}


.author-form__button {
  width: 100%;
  min-height: 63px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #2aab6d;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin-bottom: 35px;
}

.author-form__button:hover {
  background-color: #1c9b5e;
}

.author-form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.author-form__star {
  color: #d22856;
}

.author-form__content-wrapper {
  @include content-wrapper;
}

.author-form__text-content {
  line-height: 30px;
  text-transform: none;
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
}

.author-form__text-content-hidden,
.author-form__text-hidden {
  display: none;
}

.author-form__wrapper {
  display: flex;
  margin-bottom: 45px;
}

.author-form__item--application .author-form__wrapper {
  margin-bottom: 40px;
}

.author-form__label {
  display: inline-block;
  padding-left: 22px;
  margin-bottom: 5px;
}

.author-form__input {
  outline: none;
  min-height: 63px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  width: 100%;
  padding: 0;
  padding-left: 22px;
  box-sizing: border-box;
}

.author-form__item {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.author-form__item:nth-child(3) {
  padding-top: 33px;
  margin-bottom: 40px;
}

.author-form__item:nth-child(5) {
  margin-bottom: 48px;
}

.author-form__item.author-form__item--grey {
  padding-top: 35px;
}

.author-form__wrap,
.author-form__stub {
  margin-bottom: 17px;
}

.author-form__wrap:last-child,
.author-form__stub:last-child {
  margin-bottom: 0;
}

.author-form__item--wide {
  width: auto;
}

.author-form__textarea {
  width: 100%;
  min-height: 201px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  resize: none;
  padding: 0;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 17px;
  box-sizing: border-box;
}

.author-form__title-hidden {
  display: none;
}

.author-form__checkbox,
.author-form__radio {
  display: flex;
  align-items: center;
}

.author-form__check-input,
.author-form__radio-input {
  appearance: none;
  margin: 0;
}

.author-form__check-btn {
  display: block;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  margin-right: 30px;
}

.author-form__check-input:checked + .author-form__checkbox .author-form__check-btn {
  background-image: url("../img/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.author-form__radio-btn {
  position: relative;
  width: 39px;
  height: 39px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: #ffffff;
  box-sizing: border-box;
  margin-right: 30px;
}

.author-form__radio-input:checked + .author-form__radio .author-form__radio-btn::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.author-form__checkbox:hover .author-form__check-btn,
.author-form__radio:hover .author-form__radio-btn,
.author-form__input:hover {
  border-color: #283645;
}


.author-form__checkbox:active .author-form__check-btn,
.author-form__radio:active .author-form__radio-btn,
.author-form__input:active {
  border-color: #d22856;
}

.author-form__button-contacts {
  display: none;
}

.author-form__item--emotions {
  margin-bottom: 48px;
}

@media (min-width: $tablet-width) {
  .author-form {
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .author-form__item {
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    padding: 0 60px;
    margin-bottom: 60px;
  }

  .author-form__content-wrapper:first-child {
    order: -7;
  }

  .author-form__content-wrapper:nth-child(2) {
    order: -6;
  }

  .author-form__bg-container {
    background-color: transparent;
    padding: 0;
    order: -3;
  }

  .author-form__content-wrapper:nth-child(4) {
    order: -4;
  }

  .author-form__bg-container:nth-child(5) {
    order: -5;
  }

  .author-form__item--name {
    border: none;
    padding: 0;
  }

  .author-form__item--application {
    padding-top: 45px;
  }

  .author-form__item--contacts {
    padding-top: 37px;
    padding-bottom: 25px;
    margin-bottom: 50px;
  }

  .author-form__item--achievements {
    padding-top: 44px;
  }

  .author-form__item--emotions {
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 70px;
  }

  .author-form__text-content {
    font-size: 18px;
    line-height: 30px;
    padding: 0 30px;
    margin-bottom: 74px;
  }

  .author-form__text-content-hidden {
    display: inline-block;
    margin-left: 2px;
  }

  .author-form__title {
    margin: 0;
  }

  .author-form__wrap {
    display: flex;
    margin-bottom: 50px;
  }

  .author-form__wrap:last-child {
    margin-bottom: 0;
  }

  .author-form__wrapping {
    margin-bottom: 45px;
  }

  .author-form__label {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 20px;
  }

  .author-form__input {
    padding-left: 20px;
  }

  .author-form__stub {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
  }

  .author-form__button-contacts {
    display: block;
    position: absolute;
    width: 60px;
    height: 59px;
    top: 2px;
    right: 2px;
    background-color: #e5e5e5;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
  }

  .author-form__button-contacts--phone {
    background-image: url("../img/icon-phone.svg");
  }

  .author-form__button-contacts--email {
    background-image: url("../img/icon-mail.svg");
  }

  .author-form__stub .author-form__label {
    order: 1;
    padding-left: 22px;
  }

  .author-form__stub .author-form__input {
    margin-bottom: 10px;
  }

  .author-form__button {
    width: 300px;
    margin: 0;
  }

  .author-form__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .author-form__text {
    display: flex;
    align-items: center;
  }

  .author-form__title-hidden {
    display: block;
    margin: 0;
  }

  .author-form__check-btn,
  .author-form__radio-btn {
    margin-right: 22px;
  }

  .author-form__textarea {
    min-height: 193px;
  }

  .author-form__bg-container .author-form__title {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .author-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include content-wrapper;
  }

  .author-form__content-wrapper {
    width: initial;
    padding: initial;
    margin: initial;
    flex-grow: 1;
  }

  .author-form__bg-container {
    flex-grow: 1;
  }

  .author-form__item--application {
    width: 435px;
    box-sizing: border-box;
    padding-top: 45px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    margin-left: auto;
  }

  .author-form__item--application .author-form__wrapper {
    padding: 0 50px;
  }

  .author-form__item--name {
    width: 440px;
    padding-top: 21px;
  }

  .author-form__item--contacts {
    padding-bottom: 11px;
  }


  .author-form__textarea {
    min-height: 128px;
    box-sizing: border-box;
  }

  .author-form__wrapping {
    margin-bottom: 0;
  }

  .author-form__btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .author-form__text-content {
    padding-left: 90px;
    padding-right: 90px;
  }

  .author-form__text-hidden {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
  }

  .author-form__container {
    display: flex;
    justify-content: space-between;
  }

  .author-form__wrapping-contacts {
    display: flex;
    justify-content: space-between;
  }

  .author-form__stub {
    width: 371px;
    margin: 0;
  }

  .author-form__item--emotions {
    padding-bottom: 45px;
    margin-bottom: 57px;
  }
}
