.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 15px;
}

.copyright__link svg {
  fill: #d22856;
  position: relative;
  top: 5px;
}

.copyright__link svg:hover {
  fill: #283645;
}

.copyright__link svg:active {
  fill: rgba(40, 54, 69, 0.3);
}


@media (min-width: $tablet-width) {
  .copyright {
    display: block;
  }

  .copyright__link svg {
    top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
    margin-right: 11px;
  }

}
