.download__list {
  list-style: none;
}

.download__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.download__link {
  color: #ffffff;
  text-decoration: none;
}

.download__description {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.download__content-wrapper {
  @include content-wrapper;
}

@media (min-width: $tablet-width) {
  .download {
    background-color: transparent;
  }

  .download__description {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .download__button {
    font-size: 21px;
  }
}
