.download__list {
  display: flex;
  list-style: none;
  padding: 0 35px;
  margin-bottom: 22px;
}

.download__item {
  display: block;
  width: 47px;
  height: 56px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.download__item--apple {
  background-image: url("../img/logo-apple.svg");
  margin-right: 34px;
}

.download__item--android {
  background-image: url("../img/logo-android.svg");
  margin-right: 37px;
}

.download__item--microsoft {
  background-image: url("../img/logo-microsoft.svg");
}

.download__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  margin-bottom: 32px;
}

.download__link {
  color: #ffffff;
  text-decoration: none;
}

.download__description {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.download__content-wrapper {
  padding-top: 28px;
  padding-bottom: 25px;
  min-height: 218px;

  @include content-wrapper;
}

@media (min-width: $tablet-width) {
  .download {
    background-color: transparent;
  }

  .download__description {
    font-size: 18px;
  }

  .download__content-wrapper {
    padding-top: 0;
  }

  .download__content {
    width: 300px;
    min-height: 326px;
  }

  .download__button {
    margin-bottom: 45px;
  }

  .download__list {
    padding: 0px 48px;
    margin-bottom: 37px;
  }
}

@media (min-width: $desktop-width) {
  .download__content-wrapper {
    padding-top: 50px;
  }

  .download__button {
    font-size: 21px;
    margin-bottom: 69px;
  }

  .download__list {
    margin-bottom: 55px;
  }
}
