.feedbacks {
  background-color: #ffffff;
  text-align: center;
  padding-top: 40px;
}

.feedbacks__content-wrapper {
  position: relative;

  @include content-wrapper;
}

.feedbacks__item {
  margin: 0;
  margin-bottom: 26px;
}

.feedbacks__author-name {
  display: inline-block;
  font-style: normal;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-bottom: 13px;
}

.feedbacks__text {
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}

.feedbacks__description {
  display: none;
  margin: 0;
}

.feedbacks__toggles {
  margin: 0;
}

.feedbacks__toggles-arrows {
  display: none;
}

@media (min-width: $tablet-width) {
  .feedbacks {
    padding-bottom: 25px;
  }
  
  .feedbacks__item {
    display: flex;
    flex-direction: column;
  }

  .feedbacks__author-name {
    font-size: 20px;
    order: 1;
    margin-bottom: 6px;
  }

  .feedbacks__text {
    font-size: 18px;
    margin-bottom: 35px;
  }

  .feedbacks__description {
    display: block;
    order: 2;
    font-size: 14px;
  }
}

@media (min-width: $desktop-width) {

  .feedbacks {
    padding-top: 190px;
    padding-bottom: 50px;
  }
  .feedbacks__text {
    padding: 0 105px;
  }

  .feedbacks__item {
    position: relative;
  }

  .feedbacks__item::before {
    content: "";
    position: absolute;
    right: 425px;
    top: -110px;
    width: 79px;
    height: 63px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
  }

  .feedbacks__author-name {
    font-size: 24px;
    margin-bottom: 6px;
  }

  .feedbacks__description {
    font-size: 18px;
  }

  .feedbacks__toggles {
    display: none;
  }

  .feedbacks__toggles-arrows {
    display: block;
    margin: 0;
  }
}
