.feedbacks__content-wrapper {
  position: relative;

  @include content-wrapper;
}

.feedbacks {
  background-color: #ffffff;
  text-align: center;
}

.feedbacks__author-name {
  font-style: normal;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.feedbacks__text {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.hide-on-mobile {
  display: none;
}

@media (min-width: $tablet-width) {
  .hide-on-mobile {
    display: block;
  }

  .feedbacks__item {
    display: flex;
    flex-direction: column;
  }

  .feedbacks__author-name {
    order: 1;
  }

  .feedbacks__text.hide-on-mobile {
    order: 2;
  }
}
