.intro__content-wrapper {
  padding-top: 100px;

  @include content-wrapper;
}

.intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  min-height: 462px;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro__title {
  color: #ffffff;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.intro__download {
  background-color: #1d2631;
}

.intro__top {
  min-height: 462px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

@media (min-width: $tablet-width) {
  .intro__top {
    min-height: 266px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .intro__title {
    font-size: 40px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .intro__top {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .intro__title {
    font-size: 50px;
  }
}
