.intro__content-wrapper {
  @include content-wrapper;
}

.intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.intro__top {
  min-height: 396px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .intro-top {
    min-height: 266px;
    background-image: none;
  }
}
