.main-footer {
  padding-top: 40px;
}
.main-footer__content-wrapper {
  @include content-wrapper;
}

.main-footer--closed {
  display: none;
}

.main-footer__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .main-footer__content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main-footer--closed {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 98px;
  }
}
