.main-header {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.main-header--dense {
  background-color: #283645;
}

.main-header__top {
  position: relative;
  min-height: 66px;
}

.main-header__nav {
  border-top: 1px solid #000000;
}

.main-header__content-wrapper {
  @include content-wrapper;

  @media (min-width: $desktop-width) {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}

.main-header__logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.main-header__burger {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;

  display: block;
  width: 50px;
  height: 30px;

  background-color: transparent;

  cursor: pointer;
  border: none;
}

.main-header__burger::before {
  content: "";

  position: absolute;
  right: 0;
  top: 0;

  width: 50px;
  height: 4px;

  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.main-header__burger--closed {
  position: absolute;
  right: 0;
}

.main-header__burger--closed::before,
.main-header__burger--closed::after {
  content: "";

  position: absolute;
  right: 0;
  top: 12px;

  width: 29px;
  height: 5px;

  background-color: #ffffff;
}

.main-header__burger--closed::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-header__burger--closed::after {
  transform: rotate(-45deg);
}

.main-header__burger--hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-header__top {
    margin: 0;
    padding: 0;
    min-height: 110px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .main-header__desktop-wrap {
    display: flex;
    justify-content: space-between;
    width: 940px;
    min-height: 110px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }

  .main-header__burger {
    display: none;
  }

  .main-header__burger--closed {
    display: none;
  }

  .main-header__nav {
    border-top: 0;
  }
}
