
.main-nav--closed {
  display: none;
}

@media (min-width: $desktop-width) {
  .main-nav--closed {
    display: block;
  }

  .main-nav {
    display: flex;
    flex-basis: 620px;
    justify-content: space-between;
    align-items: center;
  }
}
