.main-footer__content-wrapper {
  @include content-wrapper;
}

.main-footer--closed {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-footer__content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main-footer--closed {
    display: block;
  }
}
