.main-header {
  background-color: #1d2632;
}

.main-header__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.main-header__nav {
  border-top: 1px solid #000000;
}

.main-header__content-wrapper {
  @include content-wrapper;

  @media (min-width: $desktop-width) {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}

.main-header__burger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 55px;
  height: 45px;

  background-color: tomato;

  cursor: pointer;
  border: none;
}

.main-header__burger::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 6px;

  width: 50px;
  height: 4px;

  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.main-header__burger--closed {
  position: absolute;
  top: 0;
  right: 0;
}

.main-header__burger--closed::before,
.main-header__burger--closed::after {
  content: "";

  position: absolute;
  top: 30px;
  left: 28px;

  width: 29px;
  height: 5px;

  background-color: #ffffff;
}

.main-header__burger--closed::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-header__burger--closed::after {
  transform: rotate(-45deg);
}

.main-header__burger--hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-header__top {
    min-height: 110px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header__desktop-wrap {
    display: flex;
    justify-content: space-between;
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    .main-header__burger {
      display: none;
    }

    .main-header__nav {
      border-top: 0;
    }
  }
}
