.photos__block {
  padding-left: 15px;
  padding-right: 13px;
  padding-top: 19px;
  padding-bottom: 19px;
  margin: 0;
  background-color: #f2f2f2;
}

.photos__image {
  display: block;
}

.photos__panorama {
  width: 100%;
  height: auto;
  display: block;
}

.photos__author-picture:first-child {
  position: relative;
}

.photos__panorama-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 140px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #d22856;
}

.photos__text-content,
.photos__text-content-bottom {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.photos__text-content:first-child {
  padding-top: 45px;
}

.photos__text-content:nth-child(2) {
  margin-bottom: 50px;
}

.photos__text-content-bottom:nth-child(2) {
  margin-bottom: 40px;
}

.photos__text {
  margin: 0;
  margin-bottom: 9px;
}

.photos__author-name {
  font-style: normal;
  color: #283645;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.photos__timeago {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.photos__count,
.photos__like-text {
  color: #d22856;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.photos__like-text {
  padding-left: 19px;
  margin-right: 2px;
}

.photos__like-button {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 0;
  background-color: transparent;
}

.photos__like-button::before {
  content: "";
  display: block;
  width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");
  position: relative;
  top: 5px;
}

.photos__item {
  margin: 0;
  margin-bottom: 20px;
}

.photos__content {
  position: relative;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 17px;
  padding-bottom: 30px;
}

.photos__list {
  @include content-wrapper;
  margin-bottom: 45px;
}

.photos__content-wrapper {
  @include content-wrapper;
}


@media (max-width: $max-mobile-width) {
   .photos__item:last-child {
     margin: 0;
   }

   .photos__item.photos__item.photos__item--wide {
     margin-bottom: 20px;
   }
}

@media (min-width: $tablet-width) {
  .photos__like-text {
    padding: 0;
  }

  .photos__item.photos__item--wide {
    margin: 0;
    margin-bottom: 50px;

  }

  .photos__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 155px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  .photos__content-wrapper .photos__block {
    position: relative;
    min-height: auto;
  }

  .photos__content-wrapper .photos__text {
    margin: 0;
  }

  .photos__list {
    display: flex;
    flex-wrap: wrap;
  }

  .photos__item {
    flex-basis: 300px;
    margin-right: 20px;
  }

  .photos__item:nth-child(2n) {
    margin-right: 0;
  }

  .photos__like-button--top {
    width: 120px;
    position: absolute;
    top: 27px;
    right: 29px;
  }

  .photos__text-content,
  .photos__text-content-bottom {
    font-size: 18px;
  }

  .photos__text-content-bottom:nth-child(2) {
    margin-bottom: 70px;
  }

  .photos__like-button::before {
    order:1;
  }

  .photos__panorama-banner {
    top: 57px;
  }
}

@media (min-width: $desktop-width) {
  .photos__list {
    margin-bottom: 0;
  }
  .photos__item {
    margin-right: 20px;
    margin-bottom: 55px;
  }

  .photos__item:nth-child(2n) {
    margin-right: 20px;
  }

  .photos__item:nth-child(3n) {
    margin-right: 0;
  }

  .photos__item--wide {
    flex-basis: auto;
  }

  .photos__text-content {
    font-size: 18px;
  }

  .photos__text-content-bottom {
    margin-bottom: 0;
  }

  .photos__text-content:first-child {
    padding-top: 90px;
  }

  .photos__text-content:nth-child(2) {
    margin-bottom: 90px; 
   }

  .photos__panorama-banner {
    top: 55px;
  }
}
