.overlay {
  overflow: hidden;
  position: fixed;
  width: 100%;
  min-height: 100%;
  top:0;
  left:0;
  background-color: rgba( 0, 0, 0, 0.5);
}

.popup {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  padding-top: 45px;
  padding-bottom: 40px;
  box-shadow: 0px 0px 10px #000;
}

.popup--success {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
}

.popup__button {
  width: 100%;
  border-radius: 2px;
  color: #ffffff;
  border: none;
  background-color: #2aab6d;
  font-family: "Open Sans";
  text-transform: uppercase;
}

.popup__title {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  line-height: 1.3;
}

.popup__text {
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  line-height: 1.3;
}

.popup__content-wrapper {
  @include content-wrapper;
}

.popup--success .popup__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  min-height: 164px;
}  

.popup--success {
  padding-bottom: 0;
} 

@media (min-width: $tablet-width) {
  .popup {
    width: 460px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 40px;
    padding-bottom: 53px; 
  }

  .popup--success {
    padding-bottom: 0;
  }

  .popup__title {
    font-size: 30px;
  }

  .popup__text {
    font-size: 18px;
  }

  .popup__content-wrapper {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .popup {
    width: 780px;
    padding-top: 50px; 
    padding-bottom: 0;
  } 

  .popup__content-wrapper {
    width: 350px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .popup__button  {
    width: 300px;
    margin:0 auto;
  }

  .popup__text {
    margin-bottom: 66px;
  }

  .popup__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    min-height: 164px;
  }
}  