.price__content-wrapper {
  @include content-wrapper;
}

.price {
  background-color: #f2f2f2;
  position: relative;
  padding-bottom: 45px;
  margin-bottom: 40px;
}

// .price::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 95px;
//   background-image: url("../img/bg-triangle-white.svg");
//   background-repeat: no-repeat;
//   z-index: 2;
// }

.price__list {
  border-collapse: collapse;
  margin-bottom: 35px;
}

.price__title {
  width: 280px;
  text-align: center;
  background-color: #283645;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  border-right: 2px solid #f2f2f2;
  padding: 19px 20px;
}

.price__value {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.price__field {
  width: 280px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  padding: 14px 20px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.price__field--pink-filter::before {
  content:"Розовый фильтр";
}

.price__field--smiles::before {
  content: "Смайлики";
}

.price__field--comments::before {
  content: "Комментарии";
}

.price__toggles {
  text-align: center;
}

.price__title--hit {
  position: relative;
}

.price__title--hit::after {
  content:"хит";
  position: absolute;
  top: 7px;
  left: 8px;
  display: block;
  transform: rotate(-45deg);
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 400;
}

.price__title--hit::before { 
  content: "";
  display: block;
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/bg-hit-tablet.svg");
}

.price__field--non-available {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: 230px center;
}

.price__field--available {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 230px center;
}

.price__toggles {
  margin: 0;
}

@media (max-width: $max-mobile-width) {
  .price {
    overflow: hidden;
  }

  .price__content-wrapper {
    width: initial;
    padding: 0;
    margin: 0;
  }

  .price__list {
    width: 840px;
    margin-left: calc(50% - 420px);
  }

  .price__field--hidden,
  .price__title--hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .price {
    padding-top: 130px;
    padding-bottom: 68px;
    margin-bottom: 45px;
  }

  .price__title {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 7px;
  }

  .price__title:first-child {
    opacity: 0;
  }

  .price__title:nth-child(2) {
    border-radius: 4px 0 0 4px;
  }

  .price__title--hit {
    position: relative;
  }

  .price__title--hit::after {
    content:"хит";
    position: absolute;
    top: 8px;
    left: 8px;
    display: block;
    transform: rotate(-45deg);
    font-size: 14x;
    text-transform: uppercase;
    font-weight: 400;
  }

  .price__title--hit::before { 
    content: "";
    display: block;
    width: 61px;
    height: 61px;
    top: 0;
    position: absolute;
    background-image: url("../img/bg-hit-tablet.svg");
  }

  .price__title:nth-child(4) {
    border-radius: 0 4px 4px 0;
  }

  .price__value {
    text-transform: none;
    font-size: 18px;
  } 

  .price__toggles {
    display: none;
  }

  .price__field {
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    text-transform: none;
  }

  .price__field:first-child {
    border-radius: 2px 0 0 0;
  }

  .price__field:last-child {
    border-radius: 0 0 2px 0;
  }

  .price__field--non-available {
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .price__field--available {
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .price__field--pink-filter::before {
    display: none;
  }
  
  .price__field--smiles::before {
    display: none;
  }
  
  .price__field--comments::before {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-top: 160px;
    padding-bottom: 95px;
    margin-bottom: 63px;
  }

  .price__field {
     width: 238px;
     font-size: 18px;
     padding-left: 21px;
     padding-right: 21px;
     padding-top: 15px;
     padding-bottom: 15px;
  }

  .price__value{
    font-size: 24px;
  }

  .price__title {
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 20px;
  }

  .price__title--hit::after {
    content:"хит";
    position: absolute;
    top: 14px;
    left: 13px;
   
  }

  .price__title--hit::before {
    content:"";
    display: block;
    width: 74px;
    height: 73px;
    top: 0;
    position: absolute;
    background-image: url("../img/bg-hit.svg");
  }
}
