.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.social__link {
  display: block;
  text-decoration: none; 
  width: 51px;
  height: 51px;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  margin-right: 12px;
}

.social__link:hover {
  border: 3px solid #283645;
}

.social__link:active {
  border: 3px solid rgba(40, 54, 69, 0.1);
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
}

.social__link--utube {
  background-image: url("../img/icon-youtube.svg");
}
