.tools {
  background-color: #f2f2f2;
}

.tools__list {
  list-style: none;
}

.tools__button {
  color: #d22856;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.tools__button--grey {
  opacity: 0.1;
  color: #283645;
}

.tools__content-wrapper {
  @include content-wrapper;
  background-color: #f2f2f2;
}

@media (min-width: 660px) {
  .tools__content-wrapper {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .tools {
    background-color: transparent;
  }
}
