.tools {
  background-color: #f2f2f2;
}

.tools__list {
  list-style: none;
}

.tools__button {
  width: 100%;
  border: 3px solid #d22856;
  color: #d22856;
  margin-bottom: 20px;
}

.tools__button:hover {
  color: #ffffff; 
  background-color: #d22856; 
}

.tools__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.tools__button--grey {
  opacity: 0.1;
  color: #283645;
}

.tools__content-wrapper {
  padding-top: 20px;
  background-color: #f2f2f2;

  @include content-wrapper;
}

@media (min-width: $tablet-width) {
  .tools__content-wrapper {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .tools__block {
    width: 275px;
  }

  .tools__image {
    margin-right: 45px;
  }
}

@media (min-width: $desktop-width) {
  .tools {
    background-color: transparent;
  }

  .tools__block {
    width: 410px;
  }

  .tools__buttons {
    display: flex;
    justify-content: space-between;
  }
}
